:root {
  --font-family: "Roboto Mono", monospace;
  --tt-primary-rgb: 244, 0, 2;
  --tt-primary: rgba(var(--tt-primary-rgb), 1);
}

* {
  box-sizing: border-box;
}

html,
body,
button {
  font-family: var(--font-family);
}

body {
  padding: 0;
}

.view-controller .page-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.home-view {
  justify-content: center;
  align-items: center;
}

.t-header {
  width: 100%;
  height: 50%;
  text-align: center;
  color: var(--tt-primary);
}

.t-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.t-btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: var(--tt-primary);
  cursor: pointer;
  border: 2px solid;
  padding: 10px;
  transition: box-shadow 0.2s;
}

.t-btn:hover {
  box-shadow: 0 2px 5px rgba(var(--tt-primary-rgb),0.25);
}


