:root {
  --font-family: "Roboto Mono", monospace;
  --tt-primary-rgb: 244, 0, 2;
  --tt-primary: rgba(var(--tt-primary-rgb), 1);
}

* {
  box-sizing: border-box;
}

html,
body,
button {
  font-family: var(--font-family);
}

body {
  padding: 0;
}

.t-main {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.t-nav {
  display: flex;
  gap: 25px;
}

.t-nav .nav-btn {
  aspect-ratio: 1;
}

.t-btn {
  background-color: transparent;
  color: var(--tt-primary);
  cursor: pointer;
  border: 2px solid;
  padding: 10px;
  transition: box-shadow 0.2s;
}

.t-nav .t-btn:hover {
  box-shadow: 0 2px 5px rgba(var(--tt-primary-rgb),0.25);
}
