:root {
  --font-family: "Roboto Mono", monospace;
  --tt-primary-rgb: 255, 63, 0;
  --tt-primary: rgba(var(--tt-primary-rgb), 1);

  --gutter-x: 10%;
}

* {
  box-sizing: border-box;
}

html,
body,
button {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

.view-controller .page-view {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--tt-primary);
}

.view-controller .page-view[data-current-view] {
  display: flex;
  animation: view-slide-in 0.5s;
  perspective: 250px;
}

@keyframes view-slide-in {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.t-header {
  width: 100%;
  text-align: center;
}

.t-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--tt-primary);
  color: #ffffff;
  width: 100%;
  padding: 0.5rem;
  z-index: 99;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
}

.t-nav .t-btn {
  border: none;
}

.t-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.t-fieldset {
  position: relative;
  background-color: transparent;
  color: inherit;
  border: 2px solid;
  padding: 1rem;
  border-radius: 0.5rem;
}

.t-field {
  position: relative;
  background-color: transparent;
  color: inherit;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.t-btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: 2px solid;
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  border-radius: 0.5rem;
}

.t-btn:hover,
.t-field:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(var(--tt-primary-rgb), 0.25);
}

.join-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.new-main {
  padding: 1rem;
  width: 100%;
  flex: 1;
}

.home-view {
  height: 100%;
  justify-content: space-evenly;
}

.home-nav {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
