:root {
  --font-family: "Roboto Mono", monospace;
  --tt-primary-rgb: 255, 63, 0;
  --tt-primary: rgba(var(--tt-primary-rgb), 1);

  --gutter-x: 10%;
}

* {
  box-sizing: border-box;
}

html,
body,
button {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

.view-controller .page-view {
  width: 100%;
  height: 100vh;
}

.t-header {
  width: 100%;
  text-align: center;
  color: var(--tt-primary);
}


.t-nav {
  padding: 1rem;
}

.t-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.t-field {
  position: relative;
  background-color: transparent;
  color: var(--tt-primary);
  border: 2px solid;
  padding: 10px;
  transition: box-shadow 0.2s;
}

.t-btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: var(--tt-primary);
  cursor: pointer;
  border: 2px solid;
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  border-radius: 0.5rem;
}

.t-btn:hover {
  box-shadow: 0 2px 5px rgba(var(--tt-primary-rgb), 0.25);
}

.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.home-nav {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}