:root {
  --font-family: "Roboto Mono", monospace;
  --tt-primary-rgb: 255, 63, 0;
  --tt-primary: rgba(var(--tt-primary-rgb), 1);
  --tt-secondary-rgb: 50, 50, 50;
  --tt-secondary: rgba(var(--tt-secondary-rgb), 1);

  --gutter-x: 25%;
  --gutter-y: 5rem;
}

* {
  box-sizing: border-box;
}

html,
body,
button,
input {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

.view-controller .page-view {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--tt-primary);
  overflow: auto;
}

.view-controller .page-view-mount {
  display: flex;
  animation: slide-in-left 0.5s;
  perspective: 250px;
}

.view-controller .page-view-unmount {
  animation: slide-out-left 0.5s;
  perspective: 250px;
}


.t-gutters {
  padding: var(--gutter-y) var(--gutter-x);
}

.t-snackbar-container {
  display: grid;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.t-snackbar-container:empty {
  padding: 0 !important;
}

.t-snackbar {
  position: relative;
  background-color: var(--tt-secondary);
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.t-snackbar--fade-in {
  animation: 0.25s slide-in-top, 0.5s fade-in;
}

.t-snackbar--fade-out {
  animation: 0.25s slide-out-top, 0.5s fade-out;
}

.t-header {
  width: 100%;
  text-align: center;
}

.t-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--tt-primary);
  color: #ffffff;
  width: 100%;
  padding: 0.5rem;
  z-index: 99;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
}

.t-nav .t-btn {
  border: none;
}

.t-share {
  display: flex;
  gap: 0.5rem;
}

.t-share .t-share-field {
  flex: 1;
}

.t-fieldset {
  position: relative;
  background-color: transparent;
  color: inherit;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.t-legend {
  background: var(--tt-primary);
  color: #ffffff;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.t-field {
  position: relative;
  background-color: transparent;
  color: inherit;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.t-btn {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: 2px solid;
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  border-radius: 0.5rem;
}

.t-btn--prominent {
  background-color: var(--tt-primary);
  color: #ffffff;
  border: none;
}

.t-btn--full {
  width: 100%;
  border-radius: 0;
}

.t-btn--large {
  padding: 1rem;
}

.t-btn:hover,
.t-field:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(var(--tt-primary-rgb), 0.25);
}

.t-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem var(--gutter-x);
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex: 1;
}

.home-nav {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.join-lookup {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@keyframes slide-in-left {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}


@keyframes slide-out-right {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}

@keyframes slide-out-top {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}

@keyframes slide-in-top {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --gutter-x: 1rem;
  }
}
